side.backlink-container {
    font-size: 0.9em;
    position: fixed;
    left: 2vw;
    top: 5rem;
    height: 42vh;
    overflow: hidden;
    width: 14vw
}

side.backlink-container:hover {
    overflow-y: auto;
}

@media only screen and (max-width: 540px) {
    side.backlink-container {
        display: none;
    }
}

.backlink-box {
    background: rgba(0, 0, 0, 0.03);
    padding: 1em;
    border-radius: 4px;
    width: 10vw;
}

.obsidian-link {
    color: rgb(47, 147, 228);
    text-decoration: none;
}