/* katex */
.katex-display>.katex {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

/* mermaid */
pre.language-mermaid,
code.language-mermaid {
    display: none;
}

.mermaid {
    overflow: hidden hidden;
    max-width: 100%;
    max-height: 66.6vh;
}

.mermaid {
    overflow: auto auto;
}