<title>{{- .Title -}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 初级反反盗链 -->
<meta name="referrer" content="no-referrer" />
<!-- http请求升级为https -->
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<!-- 站点图标 -->
<link rel="apple-touch-icon-precomposed" href="{{- .Site.Params.sidebar.avatarURL -}}" />
<link rel="icon" href="{{- .Site.Params.sidebar.avatarURL -}}" />
<!-- fortawesome字体图标集 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.2.1/css/all.min.css" />
<!-- MiSans字体
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/misans@3.1.1/lib/misans-400-regular.min.css" /> -->
<!-- 霞鹜文楷 Lite version -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" />
<!-- 侧边栏 -->
<link rel="stylesheet" href="/css/sidebar.css">
<!-- 通用css -->
<link rel="stylesheet" href="/css/style.css">
<!-- CDN防挂 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/yaleiyale/atlas_blog_theme_js@main/change-cdn.js"></script>
<!-- 远离qq微信 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/yaleiyale/atlas_blog_theme_js@main/anti-qqwechat.js"></script>
<!-- pjax支持
<script src="https://cdn.staticfile.org/pjax/0.2.8/pjax.min.js"></script> -->
<!-- 必应clarity -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "eouy1uodv0");
</script>