<!-- 音乐播放器 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.css">
<script src="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.js"></script>
<script src="https://cdn.staticfile.org/meting/2.0.1/Meting.min.js"></script>
<style>
    @media only screen and (max-width: 540px) {
        meting-js {
            display: none;
        }
    }
</style>
<meting-js server="{{- .Site.Params.music.server -}}" type="{{- .Site.Params.music.type -}}" id="{{- .Site.Params.music.id -}}" fixed="true" order="{{- .Site.Params.music.order -}}" lrc-type="{{- .Site.Params.music.lrc -}}"></meting-js>
<!-- 回到顶部/底部 -->
<script src="https://cdn.jsdelivr.net/gh/yaleiyale/lamu-leimu-button@0.1/lamu-leimu.min.js"></script>
<!-- live2d -->
<style>
    @media only screen and (max-width: 540px) {
        .pio-container {
            display: none;
        }
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css" />
<div class="pio-container left">
    <div class="pio-action"></div>
    <!-- magic params，没事不建议动 -->
    <canvas id="pio" width="272" height="272"></canvas>
</div>
<script>
    async function getSentence() {
        let res;
        await fetch('https://v1.hitokoto.cn')
            .then(response => response.json())
            .then(data => res = data.hitokoto)
            .catch(console.error)
        return res
    }
    async function initPio() {
        let flag = /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
        if (flag) return
        let sentence = await getSentence()
        let pio = new Paul_Pio({
            "mode": {{- .Site.Params.live2d.mode -}},
            "hidden": {{- .Site.Params.live2d.hidden -}},
            "content": {
                "link": {{- .Site.Params.live2d.link -}},
                "skin": {{- .Site.Params.live2d.skin -}},
                "welcome": sentence,
                "touch": sentence,
                "referer": {{- .Site.Params.live2d.referer -}},
                "custom": {{- .Site.Params.live2d.custom|safeJS -}}
            },
            "model": {{- .Site.Params.live2d.model -}}
        })
    }
</script>
<script async="async"
    src="https://cdn.jsdelivr.net/combine/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js,gh/Dreamer-Paul/Pio@2.4/static/pio.min.js"
    onload="initPio()"></script>