{{- $filename := .File.BaseFileName -}}
<side class="backlink-container">
    <h3 class="backlink-head" style="margin-bottom: 1em">BackLink</h3>
    <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
        {{- $has := false -}}
        {{- range .Site.RegularPages -}}
        {{- $mention := printf "%s%s%s" "[[" $filename "]]" -}}
        {{- if in .Content $mention -}}
        {{- $has = true -}}
        <div class="backlink-box">
            {{- printf "%s%s%s%s%s" "<a class='obsidian-link' href='" .Permalink "'>" .File.BaseFileName
                "</a><br>"|safeHTML -}}
        </div>
        {{- else -}}
        {{- $mention := printf "%s%s%s" "[[" $filename "#" -}}
        {{- if in .Content $mention -}}
        {{- $has = true -}}
        <div class="backlink-box">
            {{- printf "%s%s%s%s%s" "<a class='obsidian-link' href='" .Permalink "'>" .File.BaseFileName
                "</a><br>"|safeHTML -}}
        </div>
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- if $has -}}
        {{- else -}}
        <style>
            .backlink-head {
                display: none;
            }
        </style>
        {{- end -}}
    </div>
</side>